<form action="/addBlog/user/{{id}}" method="post">
  Title:<br>
  <input type="text" name="title"><br>
  Content:<br>
  <input type="text" name="content"><br><br>
  <input type="submit" value="Submit">
</form>

  <a href="/">Home</a>
