<!DOCTYPE html>
<html>

<head>
  <title>EDA Phase 1 Express Boilerplate</title>
</head>

<body>
  <h1>Users</h1>
  <ul>
    {{#each users}}
      <li><a href="{{url}}">{{name}}</a> --- Email: <a href="mailto:{{email}}">{{email}}</a></li>
    {{/each}}
  </ul>
</body>

</html>
