<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>User {{user_id}}</title>
</head>

<body>
  <p> {{name}}</p>
  <img src='/{{profile_picture}}'>
  <a href="/addBlog/user/{{user_id}}">Add new blog post</a>
  <a href="/">Home</a>

</body>

</html>
