<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>User {{user_id}}</title>
</head>

<body>
  <p> {{name}}</p>
  <img src='/{{profile_picture}}'>

  <a href="/">Home</a>

</body>

</html>
